@import "reset-css";
@import "fonts-icon";
@import "fonts";
@import "animation";
@import "_animation-for-page";

/***************************/
/*   adaptive properties   */
/***************************/

//Breakpoints
$phone-only: 599;
$tablet-portrait-up: 600;
$tablet-landscape-up: 900;
$desktop-up: 1200;

@mixin for-phone-only {
  @media (max-width: $phone-only + px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: $tablet-portrait-up + px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $tablet-landscape-up + px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: $desktop-up + px) {
    @content;
  }
}

// Create adaptive property
@mixin adaptiv-value($property, $minSize, $maxSize) {
  $addSize: $maxSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$desktop-up - 320}));
  @include for-desktop-up {
    #{$property}: $maxSize + px;
  }
}
@mixin adaptiv-value-to-tablet-landscape($property, $minSize, $maxSize) {
  $addSize: $maxSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$tablet-landscape-up - 320}));
  @include for-tablet-landscape-up {
    #{$property}: $maxSize + px;
  }
}

// Others
@mixin stickerWidth($width) {
  width: 100%;
  text-align: center;
  @include for-tablet-portrait-up {
    width: $width - 42;
  }
  @include for-tablet-landscape-up {
    width: $width - 12;
  }
  @include for-desktop-up {
    width: $width;
  }
}

/********************/
/*   basic styles   */
/********************/

// Color
$color-title: #f5f5f5;
$color-white: #fff;
$color-blue: rgb(17, 116, 158);
$color-darkGray: #222;

body {
  font-family: gotham, sans-serif;
  font-size: 15px;
  font-weight: 400;
  min-width: 320px;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
}

.container {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;

}

.slide-title {
  display: flex;
  justify-content: center;

  h1 {
    font-family: gotham, sans-serif;
    font-weight: 500;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #222;
    @include adaptiv-value("font-size", 23, 38);
  }

  span {
    font-family: robotoCondensed, sans-serif;
    font-weight: 700;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    color: #d7d7d7;
    @include adaptiv-value("font-size", 150, 247);
  }
}

.slide-title._light {
  h1 {
    color: $color-white;
  }

  span {
    opacity: 0.18;
  }
}

.slide-subtitle {
  display: block;
  text-align: center;
  color: #222;
  @include adaptiv-value("font-size", 20, 30);
  @include adaptiv-value("margin-top", 70, 115);
  @include adaptiv-value("margin-bottom", 38, 76);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@import "_header";
@import "_content";
@import "_footer";
